body {
    background-image: url("Photos/hexagonbackground.png");
    background-size: 300px 200px;
    font-family: Arial, sans-serif; 
}
h1{
    color: #ffffff;
}
.column{
    width: 20%;
    text-align: center;
    margin: 1em;
    padding: 5em 2em;
    color: #ffffff;
    border: thick outset #000000;
}

#model1{
    background-color:#251101 ;
    width: 20%;
}
#model2{
    background-color:#470024 ;
    width: 20%;
}
#model3{
    background-color:#5b1865 ;
    width: 20%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a:hover {
    color: #ff5733;
}

a{
    color: #ffffff;
}

img {
    text-align: center;
}