h1 {
    text-align: center;
    color: #463f3a; 
    margin-bottom: 5rem
}

footer p{
 
    font-family: Georgia, serif;
    text-align: center;
    border: 1px solid #8a817c;
}

/* Type selector */
body {
     background: linear-gradient(to left, #f4f3ee, #e0afa0);
    /* Font property 1 */
    font-family: Arial, sans-serif; 
    /* Relative unit */
    font-size: 1rem; 
    margin: 0;
    padding: 1rem;
}

/* Class selector*/
.header {
    color: rgb(34, 34, 34);
    font-weight: bold; 

    /* Align Text */
    text-align: left;
    margin-bottom: 1rem;
}

/* Relational selector*/
main ul {
    margin-left: 2rem; 
    padding: .5rem;
}

/* Combination selector*/
main p.highlight {
    font-family: sans-serif;
    font-size: 1.1rem; 
}

/* On link hover, change color (had to google this one)*/
a:hover {
    color: #ff5733;
}

p {
    padding: .5rem;
}






